/*@import url('https://db.onlinewebfonts.com/c/63f874d192fb3892d88d5e26f942b5e2?family=DS-Digital');
*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@font-face {
  font-family: "Digital";
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot");
  src: url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff") format("woff"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7") format("svg");
}


.App {
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid rgb(75, 75, 75);
  width: 270px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}

#full-inputDisplay {
  height: 110px;
  overflow: hidden;
  font-family: 'Digital';
  border: 2px solid rgb(145, 145, 145);
  background-color: rgb(14, 14, 14);
}

#display, #inputDisplay {
  font-size: 60px;
  font-weight: normal;
  text-align: right;
}

#inputDisplay {
  position: relative;
  word-wrap: wrap;
  top: -30px;
  right: 3px;
  font-size: 30px;
  color: rgb(172, 0, 0);
  height: 57px;
}

#display {
  position: relative;
  bottom: 74px;
  right: 3px;
  color: rgb(0, 150, 0);
}

#calcButtons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 2px solid rgb(145, 145, 145);
  grid-gap: 5px;
  padding: 5px;
  background-color: rgb(202, 202, 202);
}

#calcButtons button:focus {
  outline: none;
}

#calcButtons button {
  height: 50px;
  font-size: 25px;
  font-family: 'Comfortaa';
}

#calcButtons #clear {
  grid-column-start: 1;
  grid-column-end: 3;
}

#calcButtons #equals {
  height: auto;
  grid-column-start: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}

#calcButtons #zero {
  grid-column-start: 1;
  grid-column-end: 3;
}

#clear {
  background-color: rgb(151, 16, 16);
}

#equals {
  background-color: rgb(47, 44, 235);
}